#menuOverlay {
    position: absolute;
    transition: left 0.5s;
}

.stopRecordingButton {
    background-color: #dc3545;
}

.stopRecordingButton:hover {
    background-color: #F2452E;
}

.stopRecordingButton:focus {
    background-color: #F2452E;
}

#background {
    background-image: url('project://database/Assets/Common/Graphics/Backgrounds/CompanionAppBg.jpg'); 
}