VERSION.txt

ExtractedStyles.uss
ExtractedStyles.uss.meta

################################
## Plugins

Plugins/LeanTween/
Plugins/LeanTween.meta

Plugins/LitJson/
Plugins/LitJson.meta

Plugins/UniRx/
Plugins/UniRx.meta

Plugins/FullSerializer/
Plugins/FullSerializer.meta

Plugins/NLayer/
Plugins/NLayer.meta

Plugins/CSharpSynthForUnity/
Plugins/CSharpSynthForUnity.meta

Plugins/CompileTimeTracker/
Plugins/CompileTimeTracker.meta

Plugins/Unity-Ui-Extensions/
Plugins/Unity-Ui-Extensions.meta

Plugins/SharpZipLib/
Plugins/SharpZipLib.meta

Plugins/TexMesh Pro/
Plugins/TexMesh Pro.meta

Plugins/UniInject/
Plugins/UniInject.meta

Plugins/Serilog/Serilog/
Plugins/Serilog/Serilog.meta
Plugins/Serilog/Serilog.Sinks.File/
Plugins/Serilog/Serilog.Sinks.File.meta

Plugins/Opportunity.LrcParser/
Plugins/Opportunity.LrcParser.meta

Plugins/Jokenizer.Net/
Plugins/Jokenizer.Net.meta

Plugins/DynamicQueryable/
Plugins/DynamicQueryable.meta

Plugins/Vosk/
Plugins/Vosk.meta

Plugins/SpleeterSharp/
Plugins/SpleeterSharp.meta

Plugins/UnityStandaloneFileBrowser/
Plugins/UnityStandaloneFileBrowser.meta

Plugins/Soundfonts/MuseScore_General.sf2.bytes
Plugins/Soundfonts.meta

Plugins/NHyphenator
Plugins/NHyphenator.meta

########################################
## Third-party assets
Background Bokeh VFX/
Background Bokeh VFX.meta

CartoonVFX9X/
CartoonVFX9X.meta

Confetti FX Pro/
Confetti FX Pro.meta

Hovl Studio/
Hovl Studio.meta

JMO Assets/
JMO Assets.meta

Vuplex/
Vuplex.meta

FfmpegUnity/
FfmpegUnity.meta

VLCUnity/
VLCUnity.meta

OneJS/
OneJS.meta

######################################
## StreamingAssets
StreamingAssets/Input/UltraStarPlayInputActions.inputactions
StreamingAssets/Input/UltraStarPlayInputActions.inputactions.meta

StreamingAssets/SpleeterMsvcExe/
StreamingAssets/SpleeterMsvcExe.meta

StreamingAssets/BasicPitchExe/
StreamingAssets/BasicPitchExe.meta

StreamingAssets/SpeechRecognitionModels/
StreamingAssets/SpeechRecognitionModels.meta

StreamingAssets/DemoSongs/
StreamingAssets/DemoSongs.meta

StreamingAssets/ffmpeg/
StreamingAssets/ffmpeg.meta

StreamingAssets/RuntimeLoadedScripts/DemoMod
StreamingAssets/RuntimeLoadedScripts/DemoMod.meta

######################################
## Play Mode Tests
InitTestScene*