VERSION.txt

################################
## Plugins

Plugins/SpleeterSharp/
Plugins/SpleeterSharp.meta

Plugins/UnityStandaloneFileBrowser/
Plugins/UnityStandaloneFileBrowser.meta

Plugins/NHyphenator
Plugins/NHyphenator.meta

########################################
## Third-party assets
Background Bokeh VFX/
Background Bokeh VFX.meta

CartoonVFX9X/
CartoonVFX9X.meta

Confetti FX Pro/
Confetti FX Pro.meta

Hovl Studio/
Hovl Studio.meta

JMO Assets/
JMO Assets.meta

Vuplex/
Vuplex.meta

FfmpegUnity/
FfmpegUnity.meta

VLCUnity/
VLCUnity.meta

OneJS/
OneJS.meta

######################################
## StreamingAssets
StreamingAssets/SpleeterMsvcExe/
StreamingAssets/SpleeterMsvcExe.meta

StreamingAssets/BasicPitchExe/
StreamingAssets/BasicPitchExe.meta

StreamingAssets/SpeechRecognitionModels/
StreamingAssets/SpeechRecognitionModels.meta

StreamingAssets/DemoSongs/
StreamingAssets/DemoSongs.meta

StreamingAssets/ffmpeg/
StreamingAssets/ffmpeg.meta

######################################
## Play Mode Tests
InitTestScene*